.parent {
    -fx-background-color: linear-gradient(to bottom,rgb(237, 208, 171), #e8d6c4);
}

.game {
    -fx-background-color: linear-gradient(to bottom,#4c4ab3, #17587e);
    -fx-border-width: 1;
    -fx-border-color: black;
}

.drag-label {
    -fx-background-color: #303138;
}

.close-btn {
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.close-btn:hover {
    -fx-background-color: #af111e;
}

.min-btn {
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.min-btn:hover {
    -fx-background-color: #171717;
}

.window-label {
    -fx-font-size: 1.1em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.description-label{
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.choice-box {
    -fx-background-color: #17a2e2;
   -fx-mark-color: white; 
   -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.choice-box > .label { 
    -fx-text-fill: white; 
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.choice-box .context-menu { 
    -fx-background-color: #17a2e2;
}

.choice-box .menu-item:focused { 
    -fx-background-color: #17a2e2; 
}

.choice-box .menu-item > .label {
     -fx-text-fill: white; 
    }

.choice-box .menu-item:focused > .label {
    -fx-background-color: #17a2e2;
}

.button-discard{
    -fx-background-color: #17a2e2;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-discard:hover {
    -fx-background-color: white;
    -fx-text-fill: #17a2e2;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radiu: 2.0em;
}

.button-login{
    -fx-background-color: #d01d85;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-login:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radiu: 2.0em;
}

.tooltip {
    -fx-background-color: rgb(39, 40, 34); 
    -fx-text-fill: rgb(85,85,255); 
    -fx-font-family: tahoma;
     -fx-font-weight: bold;
     -fx-border-radius:1px 1px 1px 1px; 
}


.check-box:selected .box {
    -fx-background-color: #e2174d;
    -fx-border-color:#e2174d;
    -fx-border-radius:4px; 
}
    
.check-box:selected .mark {
    -fx-background-color: white;
}
    
.check-box:selected .box {
    -fx-background-color: #e2174d;
}

.check-box:selected .box:hover {
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-border-radius:4px; 
}
    
.check-box:selected .mark:hover {
    -fx-background-color: #e2174d;
}
    
.check-box:selected .box:hover {
    -fx-background-color: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-border-radius:4px; 
}
    
.check-box .box {
    -fx-background-color: white;
}

.check-box .box:hover {
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-border-radius:4px; 
}
    
.check-box .mark:hover {
    -fx-background-color: #e2174d;
}
    
.check-box .box:hover {
    -fx-background-color: white;
}

.popup {
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-font-size: 11;

    -fx-hgap: 4px;
    -fx-padding: 4px;

    -fx-background-color: rgb(226, 40, 102);
    -fx-background-radius: 4px;

    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.text-area {
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-font-size: 11;
    -fx-background-color: transparent;
}